*{
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
.margin{
    margin: 80px 240px;
}
.center{
    text-align: center;
}
.header{
    padding: 50px 240px 0px 240px;
    background-color: #E554731A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.banner-title{
    margin-bottom: 20px;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-description{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
}
.banner-contant{
    text-align: left;
    max-width: 600px;
}
.banner-img{
    max-width: 600px;
}
.primary-btn{
    background-color: #E55473;
    color: #fff;
    border: 0px;
    border-radius: 8px;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 600;
}
.footer{
    max-height: 500px;
    background-color: #111010;
}
.shop-logo{
    color: #E55473;
}
.footer-centering{
    padding: 140px 0px;
}
.footer-title{
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 25px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}
.shop-rights{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

input{
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 60px;
    border: 0px;
    margin-right: 6px;
}
.sub-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.coupon{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.subscribe-content{
    padding: 120px 0px;
}
.input-btn{
    margin-top: 50px;
}
.subscribe{
    background-image: url(img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    max-height: 499px;
    border-radius: 8px;
}

.social-img{
    display: flex;
    justify-content: space-between;
}
.social-photo{
    border-radius: 2px;
}
.instagram{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 22px;
}
.social-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 44px;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.hot-deal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 370px;
}


.feature-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.bonus{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.bonus-img{
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.colour-1{
    background: rgba(167, 33, 98, 0.15);
}
.colour-2{
    background: rgba(5, 151, 160, 0.15);
}
.colour-3{
    background: rgba(71, 125, 17, 0.15);
}
.img-text-edit{
    margin-top: 34px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.support {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 100px 0px;
}
.support-p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
.img-center{
    display: flex;
    justify-content: center;
    align-items: center;
}